.container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  position: relative;
  top: 40px;
  margin-left: 4.9%;
  width: 190px;
}

/* Hide the checkbox */
input[type="checkbox"] {
  display: none;
}

/* Heart icon */
.feather-heart {
  transition: fill 0.3s ease, stroke 0.3s ease; /* Smooth transition */
  stroke: #222; /* Default stroke color */
}

/* Fill heart when checked */
input:checked + .feather-heart {
  fill: #cf244f; /* Filled heart */
  stroke: #cf244f; /* Stroke matches fill */
}

/* Text styling */
.action {
  font-size: 14px;
  color: #333;
  transition: color 0.3s ease;
}

/* Change text color when active */
input:checked ~ .action {
  color: black;
}
