@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header-bar {
  background-color: #2b2b2b;
  height: 120px;
  width: 100%;
}
.xzx {
  position: relative;
  width: 100%; /* Fill the entire screen */
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle, #000000, #000000ba);
}

.xzx::before,
.xzx::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;

  background: conic-gradient(
    #c60414,
    #00435c,
    #970033,
    #5d9501,
    #007bae,
    #53378d,
    #ffb7b2,
    #1a0002
  );
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: rotate 8s linear infinite;
  filter: blur(50px); /* Create a soft glowing effect */
  opacity: 0.8;
}

/* Secondary rotating layer for depth */
.xzx::after {
  width: 180%;
  height: 180%;
  animation: rotate-reverse 10s linear infinite;
  opacity: 0.6;
}

/* Rotating animations */
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate-reverse {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
