.venue-info-contaner {
  width: 80%;
  margin: 10px auto;
  display: grid;
  align-items: stretch;
}

.venue-info-contaner form {
  text-align: left;
  gap: 10px;
  display: grid;
}
.venue-info-contaner form input {
  border-radius: 5px;
}

.form-input-sec-one {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 10px;
}

.input-container-join {
  display: grid;
  width: 50%;
  border: 0;
  padding: 0;
}

.about-space-text {
  font-family: "Montserrat";
}
