header {
  height: 400px;
}

.header-bar {
  background-color: #000000;
  height: 120px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.header-img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  object-position: 80% 40%;
}

header h1 {
  position: relative;
  text-align: center;
  margin: auto;
  bottom: 188px;
  color: white;
  font-weight: bold;
  font-size: 52px;
  filter: contrast(1);
}

.modifcation-bar {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 53px;
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.modifcation-bar > select,
.modifcation-bar > input,
.favorite-list {
  border: 1px solid black;
  padding: 14px 10px;
  height: 53px;
}

.date {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.favorite-list {
  border: 1px solid black;
  padding: 14px 10px;
  height: 53px;
  position: absolute;
  right: 0;
  text-decoration: none;
  color: #000000;
}

main {
  height: 100vh;
}

.main-header h1 {
  margin: 40px;
  font-size: 2.5rem;
}

.search-info {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.search-info select {
  padding: 10px;
  border-radius: 20px;
  width: 190px;
  background: #e1e1e1;
}

.hr-line-one {
  float: right;
  margin: 21px 103px;
  width: 75%;
}

.main-main-contanior {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

aside {
  margin-top: 45px;
  width: 20%;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
}

.highlight {
  color: #800020;
  text-decoration: underline;
}

.vl {
  border-left: 1px solid #aeaeae;
  height: 700px;
  width: fit-content;
}

.filter-container {
  margin-left: 8px;
}

.filter-section {
  border-top: 1px solid #aeaeae;
  width: 85%;
  margin: 15px auto;
}

.filter-option {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  animation: enter 200ms ease-in 0s 1 normal none;
  font-size: 0.9rem;
}

.filter-section h5 {
  margin: 10px 0;
  cursor: pointer;
}

.hide-filter {
  display: none;
  transition: 300ms;
}

.arrow {
  rotate: 270deg;
  float: right;
  margin-right: 15px;
  transition: 200ms;
}

.arrow-open {
  rotate: 90deg;
  transition: 200ms;
}

@keyframes enter {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(1px);
  }
}

/* venue here */
.venue-section {
  max-height: 1000px;
  width: 100%;
}

.venue {
  background-color: #e1e1e1;
  border: 1px solid #000;
  width: 61%;
  margin: 12px auto;
  display: flex;
  border-radius: 4px;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  min-width: 282px;
  align-items: center;
}

.venue-info {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.venue-info-one,
.venue-info-two {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.venue-info-two {
  display: grid;
  justify-content: flex-end;
  align-items: end;
  justify-items: end;
  padding: 0px 6px;
}

.venueType {
  margin: 0px 20px;
  color: red;
}

.venueText {
  margin: 0 20px;
}

.venuePrice {
  font-size: 1.9rem;
  font-family: math;
  margin-right: 14px;
}

@media only screen and (max-width: 1355px) {
  .filter,
  .vl {
    display: none;
  }
  .venue {
    width: 60%;
  }
  .venue-info p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1035px) {
  .venue {
    width: 95%;
  }
  .venue-info p {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 602px) {
  .venue {
    min-width: 365px;
    background-color: #f8fbf8;
    border-radius: 0;
    border: 0;
    border-top: 1px solid black;
  }
  .venue-image {
    width: 30%;
    object-fit: cover;
    margin: 10px;
    margin-right: -8px;
    border-radius: 10px;
  }
  .venue-info {
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: center;
  }
  .venue-info-one,
  .venue-info-two {
    width: auto;
    height: auto;
  }
  .venue-info-two {
    display: inline-flex;
    flex-direction: row;
  }

  .heart-container .svg-container {
    bottom: 150px !important;
    right: 0;
    left: 210px !important;
  }
  .favorite-list {
    display: none;
  }
}
