.sign-up-form {
  border: 1px solid #000;
  width: 45%;
  margin: auto;
  border-radius: 20px;
  padding: 30px 20px;
  gap: 20px;
  display: grid;
}

.logout-text {
  cursor: pointer;
  color: #690000;
  font-weight: 500;
}

@media only screen and (width <= 612px) {
  .input-field {
    padding: 10px;
  }
  .sign-up-form {
    width: 90%;
  }
}
