.venue-image-container {
  margin: 100px auto;
  height: fit-content;
  width: 90%;
  display: grid;
}

.venue-image-container section {
  background-color: #e8e9e8;
  border-radius: 5px;
  padding: 15px 9px;
  margin: 40px;
  margin-bottom: 10px;
  height: 346px;
  /* width: 95%; */
  max-width: 90vw;
  overflow-x: scroll;
  overflow-y: clip;
}

.sec-main {
  height: 400px !important;
  display: flex;
  align-items: center;
}
.main-image-preview {
  width: 100%;
}

.gallery-preview {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
}

.venue-image-uploader {
  background-color: #fff;
  font-size: 0.8rem;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  height: fit-content;
  border-radius: 45px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.venue-image-uploader h2 {
  border: none !important;
  width: 100% !important;
  margin-top: 10px !important;
  padding: 0 !important;
}

.addMore-images {
  background-color: #fff;
  font-size: 12px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  width: 29%;
  float: right;
  margin-left: 40px;
  justify-items: center;
  align-items: center;
  gap: 0.9rem;
  filter: invert(1);
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: fit-content;

  width: min-content;
}

.gallery {
  float: left;
  height: 260px;
  width: fit-content;
  margin: 30px 18px;
  max-width: 460px;
}
.gal {
  width: 9%;
  height: 59px;
}

.image-traker {
  background-color: rgb(167, 25, 25);
  color: #ffffff;
  padding: 5px;
  width: 65px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  float: right;
  position: relative;
  bottom: 50px;
  left: 58px;
  display: block;
}

.input-image {
  opacity: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  height: 220px;
  position: absolute;
  cursor: pointer;
}

.input-image-gal {
  width: 76%;
  height: 56px;
  opacity: 0;
}

.main-image-upload {
  width: 96%;
  height: 370px;
  object-fit: cover;
}

.delete-img-btn {
  background-color: #fff;
  padding: 8px 6px;
  width: 55px;
  position: relative;
  top: -10%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  filter: opacity(0.4);
}

.delete-img-btn:hover {
  filter: opacity(1);
}

.gallery-image {
  width: fit-content;
  height: 300px;
  margin: 0px 10px;
}

@media only screen and (max-width: 531px) {
  .venue-image-uploader img {
    width: 60%;
    height: 80%;
  }

  .venue-image-container {
    display: grid;
  }
}
