header {
  max-height: 700px;
}

.header-bar {
  background-color: rgba(0, 0, 0, 0.536);
  height: 120px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
}

.company-logo {
  width: 120px;
  position: absolute;
  z-index: 6;
}

.header-img {
  max-height: 700px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.header-content {
  margin: auto;
  text-align: center;
  position: relative;
  bottom: 480px;
}
.header-content h1 {
  font-family: var(--font-glory-sans);
  font-size: 70px;
  width: 600px;
  margin: auto;
  color: #f8fbf8;
}

.search-bar {
  background-color: #f0f8ff4a;
  /* width: 750px; */
  /* padding: 15px; */
  border-radius: 25px;
  margin: 55px auto;
  display: table-cell;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  background-color: #f8fbf8;
}

.main-title {
  display: flex;
  margin: 0 100px;
  margin-bottom: 75px;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  top: 54px;
  color: black;
}

.main-title h3 {
  font-weight: 300;
  color: #757575;
}

.venue-sec {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  flex-direction: row;
  align-items: center;
}

.venueType {
  text-transform: uppercase;
  color: #800020;
  margin: 10px 0;
}

.venueText {
  text-transform: capitalize;
  color: black;
  margin: 10px 0;
  font-family: var(--font-glory-sans);
}

.venue-sec {
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}

.venue-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.venue-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.venue-card {
  flex: 0 0 auto;
  width: fit-content;
  scroll-snap-align: start;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.catering-service {
  /* height: 700px; */
  width: 100%;
  background-image: url("../../public/assets/cateringAd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shadow {
  background-color: #00000075;
}
.catering-content {
  color: #fff;
  margin: 0 21px;
  padding: 42px;
}

.catering-service h1 {
  font-size: 4rem;
}
.catering-service p {
  width: 82%;
  font-size: 25px;
  margin-top: 50px;
  font-family: var(--font-geist-mono);
}

.h-h1 {
  color: #800020;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-style: wavy;
}

.ad-sec {
  margin-top: 130px;
  height: 450px;
}

.list-venue-ad {
  margin: 1rem auto;
  background-color: #f8fbf8;
  height: fit-content;
  width: 86%;
  max-width: 900px;
  padding: 40px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  color: #000;
  border: 1px solid #000000b3;
  border-radius: 15px;
  display: flex;
  position: relative;
  /* top: 84px; */
  min-width: 263px;
}
.list-venue-ad div {
  display: grid;
}
.list-venue-ad h2 {
  width: 80%;
  margin: 15px auto;
  font-size: 1.3rem;
}
.list-venue-ad p {
  max-width: 500px;
  width: 80%;
  margin: auto;
}

.list-venue-frame {
  width: 100%;
}

.manIcon {
  position: relative;
  left: 49%;
  height: 290px;
  width: 100px;
  bottom: 96px;
  display: none;
}

.input-error {
  outline: red;
  outline-width: 3px;
  outline-style: solid;
}

@media only screen and (max-width: 910px) {
  .ad-sec {
    height: 680px;
  }
  .manIcon {
    left: 41%;
  }
}

@media only screen and (max-width: 770px) {
  .search-bar {
    top: 144%;
  }
  .header-content h1 {
    font-size: 45px;
    width: 18rem;
  }
  .ad-sec {
    height: 700px;
  }
  .catering-service p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 451px) {
  .catering-content {
    margin: 0;
    padding-left: 20px;
    min-width: 311px;
  }
  /* .catering-service {
    height: 800px;
  } */
  .ad-sec {
    height: 769px;
  }
}
